<div class="row">
  <div class="col-lg-3 col-md-4">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-lg-9 col-md-8 pl-md-0">
    <div class="card">
      <div class="card-body">
        <div *ngIf="item">
          <h3 class="text-capitalize">{{item.name}}</h3>
          <p class="mb-0">Weight: {{item.weight}}</p>
          <p class="mb-0">Size: {{item.size}}</p>
          <hr>
          <a routerLink="/list" class="btn btn-outline-secondary btn-sm mr-1">Back</a>
          <a [routerLink]="['/edit/', item._id]" class="btn btn-outline-secondary btn-sm mr-1">Edit</a>
          <button (click)="onDelete(item._id)" class="btn btn-outline-danger btn-sm mr-1">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>